.button-38aScr[aria-label*="Send a gift"] {
   display: none !important;
}

/* Hide Home Nitro button */
.content-3YMskv > .channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:nth-of-type(2) {
    display: none
}
/* .profileBannerSection-CYy4KP{
    display: none !important
} */
.anchor-3Z-8Bb{
    color: white
}
.actionButton-1Vu3oO{
    display: none
}
.profileBanner-33-uE1{
    display: none
}
.headerText-2WJ44e{
    margin-left: 100px
}
.activityUserPopout-2yItg2{
    margin-bottom: 15px
}
.customStatus-3NamXG{
    margin-top: 20px
}
.headerTagNoNickname-1VyQza{
    margin-top: 50px
}
.headerText-15Q25Z{
    margin-top: 50px
}
/*.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:nth-of-type(3){
    display: none
}*/
.popoutBanner-19WKGg{
    display: none
}
.topSection-y3p-_D{
    margin-top:70px;
    background-color:rgb(24,25,28);
}
.circleIconButton-1QV--U[aria-label*="Odkrywaj serwery publiczne"]{
    display:none
}

